/* Product Card Image */
.product-image {
  height: 220px;
  width: 100%;
  object-fit: contain;
  background-color: #f8f9fa;
  padding: 10px;
}

/* Product Card */
.product-card {
  border: none;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}
