/* Main Product Image */
.main-product-image {
  width: 100%;
  height: 450px;
  object-fit: contain;

  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

/* Gallery Images */
.gallery-image {
  width: 90px;
  height: 90px;

  object-fit: contain;

  border: 1px solid #ddd;
  border-radius: 8px;

  padding: 5px;
  cursor: pointer;

  transition: 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
  border-color: black;
}

/* Description */
.product-description {
  line-height: 1.8;
  color: #555;
}
